<nav ng-class="getNavStyle(scroll)">
    <div class="row pdf_nav">
      <button class="col button button-stable padding-horizontal" ng-click="goPrevious()"><</span></button>
      <button class="col button button-stable padding-horizontal" ng-click="goNext()">></span></button>
      
      <button class="col button button-stable" ng-click="zoomIn()">+</span></button>
      <button class="col button button-dark" ng-click="fit()">100%</span></button>
      <button class="col button button-stable" ng-click="zoomOut()">-</span></button>
      
      <!--<button class="col button button-dark" ng-click="rotate()">90</span></button>-->
    </div>
    <div class="row">
		<p class="col padding-vertical">Page:  <span class="padding-horizontal">{{pageNum}} / {{pageCount}} </span></p>
    </div>
    <!--&nbsp;&nbsp;
    <span>Document URL: </span>
    <input type="text" ng-model="pdfUrl">-->
</nav>
<hr>

<ion-scroll class="ionscroll" zooming="true" direction="xy" style="height:{{winheight}}px;">
	{{loading}}
	<canvas id="pdf" class="rotate0"></canvas>
</ion-scroll>